extends layouts/mainLayout

block content
  .pre-choice
    h2#newQuest Erstelle eine neue Frage!
    span.chose-form#multiple Multiple choice
    span.chose-form#single Wahr oder falsch? 
  .form-container.multiple(hidden) 
    form.create-form(action="/quest", method="POST")
      input(type="hidden", name="multiple" value="true")
      .inputField 
        input(type="text", id="cat", name="category",  
              placeholder="Kategorie", required)
      .inputField 
        input(type="text", id="question", name="question",  
              placeholder="Stelle eine Frage", required, autocomplete="off")
      .inputField 
        input(type="text", id="answer", name="answer",  
              placeholder="Die richtige Antwort", required, autocomplete="off")
      .inputField 
        input(type="text", id="wrong1", name="wrong1",  
              placeholder="1. falsche Antwort", required, autocomplete="off")
      .inputField 
        input(type="text", id="wrong2", name="wrong2",  
              placeholder="2. falsche", required, autocomplete="off")
      .inputField 
        input(type="text", id="wrong3", name="wrong3",  
              placeholder="3. falsche", required, autocomplete="off")
      .inputField 
        button.button.btn-green(type="submit") hinzu
  .form-container.trueFalse(hidden)
    form.create-form(action="/quest", method="POST")
      .inputField 
        input(type="text", id="category", name="category",
              placeholder="Kategorie", required)
      .inputField 
        input(type="text", id="statement", name="statement",
              placeholder="Deine Behauptung", required, autocomplete="off")
      .inputField 
        .tf-radio
          label(for="right") Richtig 
          input(type="radio", name="right", id="right", value="true")
          label(for="wrong") Falsch 
          input(type="radio", name="wrong", id="wrong", value="false") 
      .inputField 
        button.button.btn-green(type="submit") hinzu
